/* VARIABILI */

:root{

    --num-cells-row: 10;

}

/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #777;
}

header{
    background-color: white;
}

header img {
    height: 60px;
    border-radius: 20px;
}

footer{
    background-color: white;
    min-height: 100px
}

#grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

.squareEasy{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.squareMedium{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    height: calc(100% / 9);
    width: calc(100% / 9);
}

.squareDifficult{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    height: calc(100% / 7);
    width: calc(100% / 7);
}

.selected{
    background: red;
}